#event-chart {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.chart-legend li span {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

body {
    font-family: 'Raleway', sans-serif;
    background-image:url(../img/pw_maze_white.png);
    background-color: #F2E5D4;
}

h2 {
    text-align: center;
    margin-bottom: 4em;
    padding-bottom: 15px;
}