html { 
    height: 100% 
}
        
body {
    height: 100%; 
    margin: 0; 
    padding: 0 
}
        
#map-canvas { 
    height: 90%; 
    width: 100%;
}

#slider-1 {
    width: 100%
}

.window-content {
    color: #04162b;
    width: 500px;
}

/*#nav{
    background-color: #D8D8DD;
    font-size: 18px;
}*/

.navbar {
  border: none;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}