html { 
    height: 100% 
}
        
body {
    height: 100%; 
    margin: 0; 
    padding: 0 
}
        
#map-canvas { 
    height: 85%; 
    width: 100%;
}

#slider-1 {
    width: 100%,
}

.window-content {
    color: #04162b;
    width: 500px;
}

.navbar {
  border: none;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}

#slider-value{
  font-size: 30px;
}

#date{
  font-size: 30px;
}