{% extends 'base.html' %}
{% block content %}
    <!-- Import CSS -->
    <link rel="stylesheet" href="../static/css/charts.css">

    <!-- Import JavaScript -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src=
      "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js">
    </script>

    <h2> Protests in 2016 </h2>

    <form>
        <label>What day would you like to analyze?<br>
            <input type="text" name="year">
            </input>
        </label><br>
            <input type="submit">
            </input>
    </form>


    <div class="event-chart">
      <canvas id="donutChart"></canvas>
      <div id="donutlegend" class="chart-legend"></div>
    <div>

    <script type="text/javascript" src="../static/javascript/analyze.js">
    </script>


{% endblock %}

