{% extends 'base.html' %}
{% block content %}
    <!-- Import CSS -->
    <link rel="stylesheet" href="../static/css/charts.css">

    <!-- Import JavaScript -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src=
      "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js">
    </script>

    <h2> Protests in 2016 </h2>

    <label>What month would you like to analyze?<br>
        <input type="text" name="month" id="month"></input>
    </label><br>
    <label>What day would you like to analyze?<br>
        <input type="text" name="day" id="day"></input>
    </label><br>
        <input type="submit" id="submit"></input>


    <div class="event-chart">
      <canvas id="donutChart"></canvas>
      <div id="donutlegend" class="chart-legend"></div>
    </div>

    <div class="event-chart">
      <canvas id="barChart"></canvas>
      <div id="barlegend" class="bar-legend"></div>
    </div>

    <script type="text/javascript" src="../static/javascript/analyze.js">
    </script>


{% endblock %}

