{% extends 'base.html' %}
{% block content %}

   <div id="map-canvas"/> </div>
   <div id="slider-1"></div>
   <span id="date">Date: <span><span id="slider-value"></span>
   
{% if g.jasmine_tests %}
    <!-- Jasmine libraries for testing-->
    <link rel="stylesheet" href="../static/css/jasmine.min.css">
    <script src="../static/javascript/jasmine.min.js"></script>
    <script src="../static/javascript/jasmine-html.min.js"></script>
    <script src="../static/javascript/boot.min.js"></script>
    <script src="../static/javascript/heatmap-spec.js"></script>

    <!-- End of import of JavaScript testing. -->
{% endif %}

    <script type="text/javascript" src="../static/javascript/heatmap.js"></script>

{% endblock %}



